.wrapper {
    height: 100%;
    width: 100%;
    background-color: white;
    border: 2px solid;
}

header {
    height: 150px;
    width: 100%;
    background-color: black;
    position: relative;
    border-bottom: 2px solid;
}

.top-menu {
    position: absolute;
    top: 35px;
    right: 30px;
    height: 50px;
    width: 340px;
    background-color: rgb(187, 233, 252);
    border: 2px solid;
}    

a{
    color: blue;
    text-decoration: none;
}

.title{
    float: left;
    color: rgb(0, 209, 0);
    font-size: 58px;
    width: 600px;
}

p{
    font-size: 50px; 
    margin-top: 0px;
    width: 400px;
}

.avt{
    width: 270px;
    float: left;
}

.demo{
    width: 400px;
    float: left;
}

nav {
    height: 50px;
    width: 100%;
    background-color: rgb(162, 254, 224);
    border-bottom: 2px solid;
}

.content {
    height: 420px;
    width: 100%;
}

aside {
    height: 420px;
    width: 52%;
    background-color: white;
    float: left;
    border-right: 2px solid;
}

.notion{
    padding-top: 8px;
    padding-left: 20px;
    font-size: 16px;
    width: 95%;
    text-align: justify;
}

section {
    height: 420px;
    width: 47.8%;
    background-color: white;
}

.level{
    padding-top: 8px;
    padding-left: 640px;
    width: 95%;
    text-align: justify;
}

footer {
    height: 75px;
    width: 100%;
    background-color: rgb(223, 255, 107);
    border-top: 2px solid;
}
.end{
    width: 95%;
    padding-left: 20px;
    }

.end p{
    margin-top: -10px;
    width: 99%;
    float: left;
    font-size: 15px;
    text-align: justify;
}